## Setup

In [1]:
import pandas as pd
pd.options.display.float_format = '{:.1f}'.format

In [2]:
ufos_path = 'YOUR PATH HERE'
ufo_sightings = pd.read_csv(ufos_path)

<ipython-input-2-60ea0c9e0214>:2: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_sightings = pd.read_csv(ufos_path)

## Apply the `nunique` method to the DataFrame:

In [3]:
ufo_sightings.nunique()

datetime                69586
city                    19900
state                      67
country                     5
shape                      29
duration (seconds)        706
duration (hours/min)     8349
comments                79997
date posted               317
latitude                23312
longitude               19455
dtype: int64

## How many distinct values are in the "city" field?

**19,900**

## Apply the `nunique` method to the DataFrame, including `NaN`s in the output:

In [4]:
ufo_sightings.nunique(dropna=False)

datetime                69586
city                    19900
state                      68
country                     6
shape                      30
duration (seconds)        706
duration (hours/min)     8349
comments                79998
date posted               317
latitude                23312
longitude               19455
dtype: int64

## Which fields in the DataFrame have a different count of unique values, versus when NaNs were not included?

**"country", "shape", and "comments"**

## Apply the `unique` method to the "country" field:

In [7]:
ufo_sightings['country'].unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

## What is the only country abbreviation that does not include a vowel?

**"gb"**

## Apply the `unique` method to the "shape" field:

In [ ]:
ufo_sightings['shape'].unique()

array(['cylinder', 'light', 'circle', 'sphere', 'disk', 'fireball',
       'unknown', 'oval', 'other', 'cigar', 'rectangle', 'chevron',
       'triangle', 'formation', nan, 'delta', 'changing', 'egg',
       'diamond', 'flash', 'teardrop', 'cone', 'cross', 'pyramid',
       'round', 'crescent', 'flare', 'hexagon', 'dome', 'changed'],
      dtype=object)

## Which shape is also a food item?

**"egg"**