## Setup

In [2]:
import pandas as pd

In [3]:
ufos_path = 'YOUR PATH HERE'

In [4]:
sightings = pd.read_csv(ufos_path)
sightings.head()

<ipython-input-4-e5c2fbc31669>:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  sightings = pd.read_csv(ufos_path)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

## Create a custom "region" field in the UFO sightings dataset - based on the latitude and longitude of each respective sighting - using the below logic as a guide:

### North America
* Latitude: 0° to 90°
* Longitude: -180° to -60°

### Latin America
* Latitude: -55° to 23.5°
* Longitude: -120° to -35°

### Europe
* Latitude: 30° to 70°
* Longitude: -25° to 60°

### Africa
* Latitude: -34.5° to 23.5°
* Longitude: -20° to 40°

### Middle East
* Latitude: 15° to 40°
* Longitude: 30° to 60°

### Asia
* Latitude: 0° to 60°
* Longitude: 60° to 180°

### Oceania
* Latitude: 0°S to -60°S
* Longitude: 110°E to 180°E

## Other
* Any location not matching the above criteria

In [18]:
sightings['latitude'] = pd.to_numeric(sightings['latitude'], errors='coerce')

In [19]:
def classify_region(row):
  latitude = row['latitude']
  longitude = row['longitude']

  if latitude >= 0 and latitude <= 90 and longitude >= -180 and longitude <= -60:
    return 'North America'
  elif latitude >= -55 and latitude <= 23.5 and longitude >= -120 and longitude <= -35:
     return 'Latin America'
  elif latitude >= 30 and latitude <= 70 and longitude >= -25 and longitude <= 60:
    return 'Europe'
  elif latitude >= -34.5 and latitude <= 23.5 and longitude >= -20 and longitude <= 40:
     return 'Africa'
  elif latitude >= 15 and latitude <= 40 and longitude >= 30 and longitude <= 60:
     return 'Middle East'
  elif latitude >= 0 and latitude <= 60 and longitude >= 60 and longitude <= 180:
     return 'Asia'
  elif latitude >= -60 and latitude <= 0 and longitude >= 110 and longitude <= 180:
    return 'Oceania'
  else:
    return 'Other'

In [15]:
sightings['region'] = sightings.apply(classify_region, axis=1)

In [21]:
sightings['region'].value_counts()

region
North America    74903
Europe            3563
Oceania            741
Asia               628
Latin America      165
Africa             136
Other              135
Middle East         61
Name: count, dtype: int64

## What are the 3 most common shapes among UFO sightings in Asia?

In [22]:
sightings[sightings['region'] == 'Asia']['shape'].value_counts()

shape
light        99
circle       69
disk         68
other        57
fireball     56
triangle     51
unknown      40
sphere       35
oval         34
changing     19
cigar        17
formation    15
flash        13
chevron       8
egg           7
teardrop      7
rectangle     6
cylinder      6
diamond       6
cone          6
Name: count, dtype: int64

**light, circle, and disk**